@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');

#travel {

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/index/10732936.jpeg);
    background-color: #000000;
    width: 100%;
    background-attachment: fixed;
    /* Parallax effect */
    background-position: center;
    /* Parallax effect */
    background-repeat: no-repeat;
    /* Parallax effect */
    background-size: cover;
    /* Parallax effect */
    color: white;
    height: 500px;
    /* Parallax effect */
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#travel h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
    border: solid #ffffff 3px;
    font-family: 'Oswald', sans-serif;
    padding: 1%;
}

.fadein {
    border-style: solid;
    border-width: 2px 0px;
    border-color: 5px;
}

.fadein a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    padding: 10px;
    border: rgba(255, 255, 255, 0) solid;
    border-width: 3px 0px;
    transition: 0.5s ease-out;
}

.fadein a:hover {
    transition: 0.5s ease-in;
    border-color: rgba(255, 255, 255, 1);
}

.traveltabletsection {
    display: none;
}

.traveltextsection {
    display: none;
}

#japan {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/japan/kyoto_shrine.jpeg);
    width: 100%;
    background-attachment: fixed;
    /* Parallax effect */
    background-position: center;
    /* Parallax effect */
    background-repeat: no-repeat;
    /* Parallax effect */
    background-size: cover;
    /* Parallax effect */
    color: white;
    height: 400px;
    /* Parallax effect */
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

/* #japan:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/japan/kyoto_shrine.jpeg);   
} */


#iceland {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/iceland/reflection.jpeg);
    width: 100%;
    background-attachment: fixed;
    /* Parallax effect */
    background-position: center;
    /* Parallax effect */
    background-repeat: no-repeat;
    /* Parallax effect */
    background-size: cover;
    /* Parallax effect */
    color: white;
    height: 400px;
    /* Parallax effect */
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

/* #iceland:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/iceland/reflection.jpeg);   
} */

#canada {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/canada/quebec_city_night.png);
    width: 100%;
    background-attachment: fixed;
    /* Parallax effect */
    background-position: center;
    /* Parallax effect */
    background-repeat: no-repeat;
    /* Parallax effect */
    background-size: cover;
    /* Parallax effect */
    color: white;
    height: 400px;
    /* Parallax effect */
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

/* #canada:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/canada/quebec_city_night.png);   
} */


@media screen and (min-width: 1024px) {

    #travelicon {
        display: block;
        width: 5%;
        margin-bottom: 2%;
        height: auto;
    }

    #whereto {
        background-color: #e0dfdb;
        padding-top: 1%;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 2%;
    }
    

    .travelrow {
        width: 100%;
    }

    .traveltabletsection {
        display: block;
    }

    .travelsection {
        background-image: url(../images/index/paper-texture_1194-6010.webp);
        width: 95%;
        height: 100%;
        border: rgba(0, 0, 0, 0.7) 3px solid;
        padding: 10px;
        margin: auto;
        transition: 0.3s ease-out;
    }

    .travelsection:hover {
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in;
    }

    .traveltabletsection h2 {
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }

    .traveltabletsection h3 {
        font-size: 1.5rem;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }


}

@media screen and (min-width: 1536px) {

    .travelsection {
        grid-column: \span 2;
        opacity: 0;
        position: relative;
        top: 20px;
        transition: none;
    }

    .traveltextsection {
        opacity: 0;
        position: relative;
        top: 20px;
        transition: none;
    }

    .travelsection:hover {
        transition: none;
    }

    .traveltextsection:hover {
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
        transition: none;
    }

    #whereto {
        display: flex;
        flex-direction: column;
        padding-bottom: 0%;
    }

    .travelrow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1% 0px;
        align-items: center;
        justify-items: center;
    }


    .travelrow:nth-child(1), .travelrow:nth-child(3) {
        background-color: #e0dfdb;
    }

    .travelrow:nth-child(2) {
        background-color: #fffbf1;
    }

    .traveltabletsection {
        display: none;
    }

    .traveltextsection {
        display: block;
        height: 80%;
        width: 80%;
        background-color: white;
        padding: 5%;
        border: black 3px solid;
    }

    .traveltextsection h2 {
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }

    .traveltextsection h3 {
        font-size: 1.5rem;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }
    
    .traveltextsection p {
        font-size: 1rem;
        font-family: 'Cardo', serif;
        text-align: center;
    }


}