.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
}


.polaroid h2 {
    display: none;
}

.gridtext {
    display: none;
}

@media screen and (min-width: 480px) {
    .gridcontainer {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/japan/kyoto_lamp.jpg);
        width: 100%;
        background-attachment: fixed;
        /* Parallax effect */
        background-position: center;
        /* Parallax effect */
        background-repeat: no-repeat;
        /* Parallax effect */
        background-size: cover;
        /* Parallax effect */
        color: white;
        height: auto;
        /* Parallax effect */
        align-items: center;
        justify-items: center;
    }


    .gridrow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 1%;
        position: relative;
        top: 20px;
        opacity: 0;
    }
    
    .griditem {
        width: 98%;
        height: auto;
        margin: 1% 0;
        border: #e0dfdb solid 3px;
    }

    .gridtext {
        width: 75%;
        height: auto;
        background-color: #e0dfdb;
        display: grid;
        justify-items: center;
        align-items: center;
        border: #2d2d2d 3px solid;
    }

    .gridtext h2 {
        color: #2d2d2d;
        font-family: 'Oswald', sans-serif;
        border: #2d2d2d 0px solid;
        border-bottom-width: 3px;
        font-size: 1rem;
        padding: 1%;
    }

}

@media screen and (min-width: 1024px) {

    .polaroid h2 {
        display: block;
    }

    .gridtext {
        display: none;
    }
    
    .gridrow {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .polaroid:nth-child(2n-1) {
        grid-column: 1 /span 2;
    }

    .polaroid:nth-child(2n) {
        grid-column: 2 /span 2;
    }

    .polaroid {
        background-image: url(../images/index/white-linen-paper-texture.webp);
        display: grid;
        justify-items: center;
        border: rgba(0, 0, 0, 1) solid 3px;
    }

    .polaroid h2 {
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        color: #2d2d2d;
        border: #2d2d2d 0px solid;
        border-bottom-width: 3px;
        margin-bottom: 1%;
    }

}