@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');

#tabletnav {
    display: none;
}

#desktopNav {
    display: none;
}

#sidenavbtn {
    height: 10%;
    width: 10%;
    filter: invert(1)
}


main {
    background-color: #e0dfdb;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

.nav_links {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.sidenav {
    height: 100%;

    width: 0;
    position: fixed;

    z-index: 1;

    top: 0;

    left: 0;
    background-color: #111111;

    overflow-x: hidden;

    padding-top: 15px;

    transition: 0.5s;

}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: #111111;
}


.sidenav a:hover,
.sidenav a:focus {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mobileNav {
    background-color: #010101;
}

footer {
    background-color: #2d2d2d;
    padding-top: 2%;
}

footer p {
    color: #e0dfdb;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}


input[type=text],
select,
textarea {
    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 4px;

    box-sizing: border-box;

    margin-top: 6px;

    margin-bottom: 16px;

    resize: vertical;

    background-color: #fffbf1;
    color: #2d2d2d;
    font-family: 'Cardo', serif;
}

input[type=submit] {
    background-color: #e0dfdb;
    color:
        #2d2d2d;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background-color: white;
}

.contactus {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 50%;
    background-color: #2d2d2d;
    padding: 2%;
}

.contactus h1 {
    color: #e0dfdb;
    font-family: 'Oswald', sans-serif;
}

.contactus label {
    color: #e0dfdb;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
}

form {
    text-align: center;
}

.spacer {
    background-color: #2d2d2d;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 5% 0;
}

.icon {
    display: none;
}

.spacer h1 {
    color: #e0dfdb;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    padding: 10px;
    border: rgba(224, 223, 219, 1) solid;
    border-width: 3px 0px;
    transition: 0.5s ease-out;
    text-align: center;
}


@media screen and (min-width: 480px) {

    .currentlink {
        border-top: #818181 3px solid;
        border-bottom: #818181 3px solid;
    }

    .icon {
        display: block;
        width: 5%;
        margin-bottom: 2%;
        height: auto;
    }

    .sidenav {
        display: none;
    }

    #mobileNav {
        display: none;
    }




    #tabletNav {
        display: block;
    }


    nav {
        display: block;
        width: 100%;
        background-color: #111111;
        top: 0;
    }

    .nav_links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav_item {
        padding: 20px;
    }

    .nav_item a {
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        border: rgba(255, 255, 255, 0) solid;
        border-width: 3px 0;
        color: #818181;
        transition: 0.3s ease-out;
    }

    .nav_item .currentlink {
        border-top: #818181 3px solid;
        border-bottom: #818181 3px solid;
    }

    .nav_item a:link {
        text-decoration: none;
    }

    .nav_item a:hover,
    .nav_item a:focus {
        color: #ffffff;
        border: rgba(255, 255, 255, 1) solid;
        border-width: 3px 0;
        transition: 0.3s ease-in;
    }
}


@media screen and (min-width: 1024px) {
    #tabletNav {
        display: none;
    }

    #desktopNav {
        display: block;
    }

    .nav_links {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .nav_right {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    #navcontainer {
        display: flex;
        flex-direction: row;
    }

}